@font-face {
  font-family: "DepartureMono";
  src: url('../../recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

body {
  /* fuente */
  font-size: 19px;
  font-family: DepartureMono;
  /* posicion */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* tamaño */
}

#encabezado {
  width: 650px;
  padding-bottom: 15px;
}

.caja_entradas {
  width: 840px;
}

.entrada {
  width: 840px;
  height: 215px;
  border: 2px solid black;
  overflow: hidden;
  padding-bottom: 5px;
}

.entrada h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
}

.entrada p {
  margin-top: -5px;
  padding-left: 10px;
  padding-right: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 7;   /* número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
