@font-face {
  font-family: "DepartureMono";
  src: url('../../recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

body {
  /* fuente */
  font-size: 17px;
  font-family: DepartureMono;
  /* posicion */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* tamaño */
}

#encabezado {
  width: 750px;
}

.caja_entradas {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 840px;
  height: 800px;
  border: 2px solid black;
}

.entrada {
  width: 276px;
  height: 280px;
  border: 2px solid black;
  overflow: hidden;
}

.entrada img {
  float: left;
  width: 125px;
  margin: 0 10px 0px 0;
}

.entrada h1 {
  font-size: 20px;
  margin-top: 0px;
}

.entrada p {
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
}
