@font-face {
  font-family: "DepartureMono";
  src: url('recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

html {
  image-rendering: pixelated;
}

body {
  /* fuente */
  font-size: 21px;
  font-family: DepartureMono;
  line-height: 1.25;
  /* posicion */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#encabezado {
  width: 650px;
  padding-bottom: 10px;
}

.contenido {
  display: flex;
}

.caja_ricardo {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  padding: 10px;
}

#ricardo_gif {
  float: left;
  border: 2px solid black;
  width: 150px;
  margin: 0 10px 0px 0;
}

.caja_links {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 520px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.link a {
  padding-left: 10px;
}

.link img {
  width: 66px;
}
