@font-face {
  font-family: "DepartureMono";
  src: url('../../recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

body {
  /* fuente */
  font-size: 19px;
  font-family: DepartureMono;
  /* posicion */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* tamaño */
}

#encabezado {
  width: 650px;
  padding-bottom: 15px;
}

.caja_entradas {
  width: 840px;
  border: 2px solid black;
}

.entrada {
  width: 840px;
  padding-bottom: 5px;
}

.entrada p {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 24px;
  margin-top: 7px;
}

.entrada h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  margin-top: 7px;
}

.entrada img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 650px;
}
