@font-face {
  font-family: "DepartureMono";
  src: url('../../../recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

body {
  font-family: DepartureMono;
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contenido {
  text-align: justify;
  width: 750px;
  border: 2px solid black;
  padding: 10px;
}

.contenido img { 
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  width: 250px;
}

.contenido h1 {
  text-align: center;
  margin: 0 0 9px 0;
}

.contenido h2 {
  text-align: center;
  margin: 0 0 9px 0;
}
