@font-face {
  font-family: "DepartureMono";
  src: url('../../../recursos/DepartureMono/DepartureMonoNerdFontMono-Regular.otf')
}

body {
  font-family: DepartureMono;
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contenido {
  width: 750px;
  border: 2px solid black;
  padding: 10px;
}

#portada {
  float: left;
  width: 270px;
  margin: 0 10px 0px 0;
}

.contenido img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  width: 250px;
}

.contenido h1 {
  margin: 0 0 9px 0;
}

.contenido h2 {
  margin: 0 0 9px 0;
}

.contenido h3 {
  margin: 0 0 9px 0;
}

#fecha {
  display: block;
  text-align: right;
  clear: both;
  margin-top: 10px;
}
